{% extends "layout.html" %}
{% block title %}Registros de Horario{% endblock %}

{% block content %}
    <h1>Registros de Horario</h1>
    <hr />

    {% if registros %}
        <table border="1">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora de Entrada</th>
                    <th>Hora de Salida</th>
                    <th>Dependencia</th>
                </tr>
            </thead>
            <tbody>
                {% for registro in registros %}
                    <tr>
                        <td>{{ registro.fecha }}</td>
                        <td>{{ registro.horaEntrada }}</td>
                        <td>{{ registro.horaSalida }}</td>
                        <td>{{ registro.dependencia }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No se encontraron registros en el período seleccionado.</p>
    {% endif %}
{% endblock %}
